/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v16/97uahxiqZRoncBaCEI3aWxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/ODelI1aHBYDBqgeIAH2zlC2Q8seG17bfDXYR_jUsrzg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGFxe-GPfKKFmiXaJ_Q0GFr8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGEo0As1BFRXtCDhS66znb_k.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}



/* Universal Styles -----------------------*/
html {
  font-size: 16px;
  font-family: "source sans pro", "sans-serif";
}

h1 {
  font-family: "roboto";
  font-size: 4rem;
  font-weight: bold;
  color: rgb(0 ,0, 102);
}
h2 {
  font-family: "roboto";
  font-size: 2.2rem;
  font-weight: bold;
  color: rgb(0, 0, 102);
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(0, 0, 102);
}

p {
  font-size: 1.2rem;
  line-height: 1.2;
}

strong {
  font-weight: bold;
  color: rgb(0, 0, 102);
}

/* Header Section ---------------------------------------------*/

.flexcontainer {
  display: flex;
}

header {
    border-bottom: 1px solid rgb(0, 0, 102);
    align-items: center;
    height: 4rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.logo {
  align-items: center;
  flex-grow: 1;
}

.logotxt {
  font-size: 1.5rem;
}

/* Nvaigation in header -------------------------*/

nav {
  display: flex;
  justify-content: space-around;
}

nav li {
  display: inline-flex;
  margin-left: 1rem;
  font-size: 1.2rem;
}

/* Banner Section ----------------------------------------------*/

.banner {
  background-color: rgb(219, 240, 255);
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border-bottom: 1px solid rgb(0, 0, 102);
}

.left {
  flex-direction: column;
  width: 60%;
}

.image {
  margin: 2rem 1.5rem 2rem 0rem;
  max-width: 100%;
}

.banner img {
  width: 100%;
}

.right {
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  flex-grow: 1;
  width: 423px;
  text-align: center;
}

.banner h1 {
  line-height: 1.1;
}

.banner h3 {
  font-weight: 400;
  color: black;
}

.buttonstart {
  padding: 0.5rem;
  margin-top: 2rem;
  background-color: rgb(105,105,105);
  color: white;
  text-align: center;
  font-size: 1.2rem;
}

.buttonstart:hover {
  font-weight: bold;
}

/* Information Section ------------------------------*/

.information {
  padding-left: 1.5rem;
  padding-bottom: 2rem;
}

.information .left {
  margin-top: 2rem;
}

.information .left .image {
  margin: 0 1.5rem 2rem 0;
  max-width: 100%;
}

.information img {
  width: 100%;
}

.information .left h2 {
  padding-bottom: 1.5rem;
}

.information .left p {
  padding-bottom: 1.5rem;
}

.information .right .block {
  border-bottom: 1px solid rgb(0, 0, 102);
  text-align: left;
}

.information .right .block:last-child {
  border-bottom: none;
  background-color: rgb(224, 224, 224);
  margin-right: 0;
}

.information .right .image {
  width: 35%;
  justify-content: flex-start;
}

.information .right .info {
  flex-grow: 1;
  justify-content: center;
  max-width: 65%;
  flex-direction: column;
}

.information .right h3 {
  padding-bottom: .5rem;
}

.information .right p {
  padding-bottom: .5rem;
}

#eman {
  font-family: sans-serif;
}
.read-more {
  color: rgb(0, 0, 204);
}
.read-more:hover {
  color: rgb(0, 0, 102);
  font-weight: bold;
}

/* Courses Section ----------------------------------------------------*/

.courses {
  background-color: rgb(219, 240, 255);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  flex-direction: column;
}

.courses h2 {
  text-align: center;
  padding: 2rem 0;
}

.courses h3 {
  padding-bottom: .5rem;
  color: white;
}

.courses p {
  font-size: 1.1rem;
  padding-bottom: .5rem;
  color: white;
}

.courses .row {
  padding: 0 5rem 2rem 5rem;
}

.courses .blocks {
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.courses .block {
  margin: 1rem;
  max-width: 30%;
  flex-direction: column;
}

.courses .image {
  width: 100%;
  margin: 0;
}

.courses .info {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  height: 8rem;
  background-color: rgba(0, 0, 102, 0.8);
}

.courses img {
  width: 100%;
  align-items: center;
}

/* Thesis Section --------------------------------------*/

.thesis {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  flex-direction: column;
}

.thesis h2 {
  text-align: center;
  padding-top: 2rem;
}

.thesis .left .video {
  margin: 2rem 1rem 1.5rem 0;
  max-width: 100%;
}

.thesis video {
  width: 100%;
  border: 1px solid rgb(0, 0, 102);
}

.thesis .left .info {
  flex-direction: column;
}

.thesis .right {
  margin-top: 2rem;
  margin-left: 1rem;
}

.thesis .right .block {
  border-bottom: 1px solid rgb(0, 0, 102);
  text-align: left;
}

.thesis .right .block:last-child {
  border-bottom: none;
}

.thesis .right .image {
  width: 35%;
  justify-content: flex-start;
}

.thesis img {
  padding: 1rem;
  width: 100%;
}

.thesis h3 {
  padding-bottom: 0.5rem;
}

.thesis .right .info {
  flex-grow: 1;
  justify-content: center;
  max-width: 65%;
  flex-direction: column;
  padding-left: 1rem;
}

/* Footer Section -------------------------------------------------*/

footer {
  align-items: center;
  background-color: lightgray;
  height: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  justify-content: space-between;
}

footer .disclosure span {
  margin-left: 0.5rem;
}
